<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Testing" parallel="tests" thread-count="1">
 <listeners>
   <listener class-name="org.uncommons.reportng.HTMLReporter" />
   <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
 </listeners>
 <test name="web-test">
    <classes>
      <class name="com.hellofresh.challenge.WebTest">
       <methods>
        <include name="failedlogInTest" />
        <include name="logInTest" />
        <include name="signIn" />
        <include name="checkoutTest" />
      </methods>
      </class>
    </classes>
  </test>
</suite>